@import '~antd/dist/antd.css';

.ant-layout-header {
  background: #22075e;
}

.site-layout .site-layout-background {
  background: #fff;
}

.table-title .ant-table-thead > tr > th{
  text-align: center;
}

/* .ant-table-thead > tr > th */