@import '~antd/dist/antd.css';

.ant-layout-header {
  background: #22075e;
}

.site-layout .site-layout-background {
  background: #fff;
}

.table-title .ant-table-thead > tr > th{
  text-align: center;
}

.content-css {
  padding: 0px 50px;
  margin-top: 50px;
  min-height: 85vh;
}

.content-background-css {
  background: #fff;
  padding: 24px;
  min-height: 78vh;
  border-radius: 10px;
}